.teacher {
  display: flex;
  width: 290px;
  margin: 0.5em 1em 0.3em;
}

.teacher-details {
  height: 100%;
}

.teacher-name {
  // margin-top: 1em;
  font-size: 0.8em;
}

.teacher-subject {
  user-select: none;
}

.avatar {
  width: 70px;
  height: 70px;
  // margin: 10px;
}
