.news-title {
  margin-bottom: 0.8em;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
  flex-wrap: wrap;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 400px;
}
