.news-title {
  margin-bottom: 0.8em;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

@supports (grid-template-rows: subgrid) {
  .news {
    grid-template-rows: repeat(3, auto);
  }

  .card {
    grid-row-end: span 3;
  }
}

@supports not (grid-template-rows: subgrid) {
  .card {
    width: 100%;
    max-width: 400px;
  }
}
