$APPBAR_HEIGHT: 56px;

.menu-button {
  margin-right: 1em;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .header-container {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .menu-button {
    margin-right: 0;
    padding-right: 10px;
  }
}

.logo {
  margin: 20px auto 10px;
  width: 70px;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link-text {
  margin-right: 10px;
}

.children {
  // This offset needs to be padding to avoid margin collapsing
  padding-top: $APPBAR_HEIGHT;
}
