// This and NewsGrid.module.scss can be simplified to use grid by default
@supports (grid-template-rows: subgrid) {
  .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-gap: 0;
  }
}

@supports not (grid-template-rows: subgrid) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .header {
    // Height when title is 3 lines
    min-height: 112px;
  }

  .actions {
    margin-top: auto;
  }
}

.read-more-button {
  margin-left: auto;
  margin-right: 0.5em;
}

.image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  // We assume that the top part of an image is more important than the bottom
  object-position: 0 10%;
}
